.elements {
    max-width: 880px;
    margin: auto;
    display: grid;
    gap: 16.96px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .elements__card {
    position: relative;
    width: 100%;
    display: flex;
    border-radius: 15px;
    flex-wrap: wrap;
    background-color: white;
  }
  
  .elements__card-image {
    width: 100%;
    height: 282px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .elements__container-text-and-like-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15.04px; 
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  
  .elements__card-name {
    max-width: 205px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .elements__like-icon {
    cursor: pointer;
    background-image: url(../images/like-inative.png);
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 21px;
    height: 19px;
  }
  
  .elements__like-icon-clicked {
    background-image: url(../images/like-active.png);
  }

  .elements__like-icon:hover {
    opacity: 0.6;
  }
  
  .elements__delete-icon {
    position: absolute;
    top: 20.8px;
    right: 15.04px;
    width: 18px;
    height: 19.03px;
    border: 0;
    background-color: transparent;
  }
  
  .elements__delete-icon:hover {
    cursor: pointer;
  }

  .elements__like-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .elements__like-count {
    font-size: 14px;
    color: #333;
  }

  @media screen and (max-width: 1024px) {
    .elements {
      max-width: 580px;
      grid-template-columns: 1fr 1fr;
    }
    .elements__card {
      width: 282px;
      height: 361px;
      margin: auto;
    }
  }

  @media screen and (max-width: 720px) {
    .elements {
      grid-template-columns: 1fr;
    }
  }
