.popup-view-image_opened {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .popup__container-view-image {
    background-color: transparent;
    padding: 0;
    top: 70%;
    max-width: 75vw;
    max-height: 75vh;
  }
  
  .popup-view-image__image-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .popup-view-image__render-image {
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 600px;
  }

  .popup-view-image__image-title {
    color: #ffffff;
    font-size: 12px;
    line-height: 14.52px;
    position: absolute;
    bottom: -25px;
  }

  .popup-view-image__close-button {
    top: -40px;
    right: -40px;
  }
  
  @media screen and (max-width: 720px) {
    /* .popupclose-button {
      
    } */
  
    .popup__container {
      max-height: 322px;
    }
  }

