<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Luiz Antonio">
  <meta name="description" content="Rede social">
  <meta name="keywords" content="html, css, javascript">
  <title>Around the US</title>
</head>

<body class="body">
  <div class="page">
    <header class="header">
      <div class="header__logo-content">
        <img src="<%= require('./images/logo.png') %>" class="header__logo" alt="Imagem da logo">
      </div>
    </header>

    <main class="main">
      <section class="profile">
        <div class="profile__content">
          <div class="profile__image-container">
            <img src="<%= require('./images/profile__image.jpg') %>" class="profile__image" alt="Imagem de perfil">
          </div>
          <div class="profile__text">
            <div class="profile__title">
              <p class="profile__name">Jacques Cousteau</p>
              <div  class="profile__edit"></div>
            </div>
            <p class="profile__about">Explorar</p>
          </div>
        </div>
        <div class="profile__add"></div>
      </section>


      <section class="card">
        <div class="card__gallery">
          <h2 class="card__subtitle">Grid de imagens dos parques</h2>
          <ul class="card__container"></ul>
        </div>
      </section>
    </main>

    <footer class="footer">&copy;2024 Luiz Antonio</footer>

    <section class="popup" id="popup-profile">
      <form class="popup__form" novalidate>
        <h2 class="popup__title">Editar perfil</h2>
        <div class="popup__close"></div>

        <div class="popup__input-profile">
          <input id="popup-profile-name" class="popup__edit-text popup__name" minlength="2" maxlength="40" required type="text" placeholder="Nome">
          <span class="popup__error" id="popup-profile-name-error"></span>

          <input id="popup-profile-about" class="popup__edit-text popup__about" minlength="2" maxlength="40" required type="text" placeholder="Sobre">
          <span class="popup__error" id="popup-profile-about-error"></span>
        </div>
        <button class="popup__button-save " type="submit">Salvar</button>
      </form>
    </section>

    <section class="popup" id="popup-card">
      <form class="popup__form" novalidate>
        <h2 class="popup__title">Novo Local</h2>
        <div class="popup__close"></div>

        <div class="popup__input-card">
          <input id="popup-card-name" class="popup__edit-text popup__image-name" minlength="2" maxlength="40" required type="text" placeholder="Nome">
          <span class="popup__error" id="popup-card-name-error"></span>

          <input id="popup-card-link" class="popup__edit-text popup__image-link" type="url" pattern="https?://.+" minlength="2" required placeholder="Link da Imagem">
          <span class="popup__error" id="popup-card-link-error"></span>
        </div>
        <button class="popup__button-save" type="submit">Salvar</button>
      </form>
    </section>

    <section class="popup" id="popup__profile-image">
      <form class="popup__form" novalidate>
        <h2 class="popup__title">Nova Foto de perfil</h2>
        <div class="popup__close"></div>
        <div class="popup__input-profile-img">
          <input id="popup-profile-img-link" class="popup_edit-text popup_profile-img-link" type="url" pattern="https?://.+" minlength="2" required placeholder="Link da Imagem">
          <span class="popup__error" id="popup-profile-img-error"></span>
        </div>
        <button class="popup__button-save" type="submit">Salvar</button>
      </form>
    </section>


    <section class="popup popup_type_delete-card" id="popup_type_delete-card">
      <form class="popup__form" novalidate>
        <h2 class="popup__title">Você tem certeza?</h2>
        <div class="popup__close"></div>


        <button class="popup__button-save" type="button">Sim</button>
      </form>
    </section>




    <template id="template-card">
      <li class="cards__card">
        <div class="cards__card_bin"></div>
        <img class="cards__card_image" src="" alt="">
        <div class="cards__card_text">
          <p class="cards__card_name"></p>
          <div class="cards__card_like-info">
            <button class="cards__card_heart" aria-label="Curtir"></button> <!-- Botão de curtida -->

            <p class="cards__card_like-count">0</p> <!-- Contador de curtidas -->
          </div>
        </div>
      </li>
    </template>




    <section class="modalImage">
      <div class="modalImage__container">
        <span class="modalImage__close"></span>
        <img class="modalImage__content">
        <p class="modalImage__caption"></p>
      </div>
    </section>





  </div>

</body>

</html>
